<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <title>SiteContents</title>
   
</head>

<body>
    <h1> Welcome to Site Contents </h1>
    <ul class="nav pull-right top-menu">
        <li><a class="logout" href="login.html">Logout</a></li>
      </ul>
    <div class="header">
        <div class="logo">
            <img src="img/bartlogo.png" alt="logo">
        </div>  
    </div>
    
    <div id="div1">Block Right
        <div class="btn-groupleft">
            <button class="btn-profile">Profile</button>
            <button class="btn-menu">Menu</button>
            <button class="btn-logout">Logout</button>

        </div>
    </div> 
        
    <div id="div2">Block Top Left
        <div class="btn-group1">
            <button class="btn-editlog">Edit Log</button>
            <button class="btn-currentlog">Current Log</button>
            <button class="btn-viewlog">View Log</button>
            <button class="btn-attatchments">Attatchments</button>  
        </div>
    </div>
    
    <div id="div3">Block Bottom Left
        <div class= "btn-group2">
            <button class="btn-closedlogs">Closed Log</button>
            <button class="btn-searchlogs">Search Log</button>
            <button class="btn-downloadlogs">Download Log</button>
            <button class="btn-viewmedia">Media</button>
        </div>
    </div>


</body>
</html>